altgraph==0.17
beautifulsoup4==4.9.0
bottle==0.12.18
certifi==2020.4.5.1
chardet==3.0.4
et-xmlfile==1.0.1
greenlet==0.4.15
idna==2.9
jdcal==1.4.1
numpy==1.18.4
openpyxl==3.0.3
pkg-resources==0.0.0
PyInstaller==3.6
requests==2.23.0
soupsieve==2.0
urllib3==1.25.9
